.content-box {
  --content-count: 2;
  --content-gap: 0px;
  --content-box-gap: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(
    clamp(
      (100% / var(--content-count)) - var(--content-gap),
      (40rem - 100%) * 999,
      100%
    ), 1fr
  ));
  gap: var(--content-gap);
  align-items: var(--content-align, 'start');
  justify-content: var(--content-justify, 'start');
  margin-bottom: var(--content-box-gap);
}

.content-box--has-bg {
  padding-top: var(--content-top-padding);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.content-box--bg-people-1 {
  background-image: url('../../assets/messages.svg'), url('../../assets/bg-people.svg');
}

.content-box--bg-people-2 {
  background-image: url('../../assets/bg-people-2.svg');
}
