.text {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: var(--text-gap);
  font-weight: 400;
}

.text--grey {
  color: var(--grey-color);
}
.text--small {
  font-size: 1.2rem;
}
.text--medium {
  font-size: 1.5rem;
}
.text--large {
  font-size: 4.8rem;
}

.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}