.toggle {
  position: relative;
}

.toggle__label {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.toggle__input {
  visibility: hidden;
  position: absolute;
}

.toggle__mask {
  width: 112px;
  height: 46px;
  border-radius: var(--radius-50);
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 7px;
  cursor: pointer;
  overflow: hidden;
}

.toggle__mask:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-color: var(--white-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-full);
  transition: transform 270ms cubic-bezier(0.26,-0.13, 0.72, 1.42);
  z-index: 2;
}

.toggle__mask:after {
  content: '';
  display: block;
  width: calc(112px * 2);
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, var(--primary-color) 50%, var(--accent-color) 50% 100%);
  z-index: 1;
  transition: transform 270ms ease-out;
}

.toggle__input:checked + .toggle__mask:before {
  transform: translateX(calc(112px - 35px - 14px));
}
.toggle__input:checked + .toggle__mask:after {
  transform: translateX(50%);
}