* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0 4rem;
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  font-family: var(--font-primary);
}

button,
a,
input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
}