:root {
  --primary-color: #000;
  --accent-color: #ADFF33;
  --bg-color: #EDEEEA;
  --white-color: #fff;
  --grey-color: #7B7B7B;

  --radius-20: 20px;
  --radius-50: 50px;
  --radius-full: 100%;
  --font-primary: 'Arial', sans-serif;

  --container-width: 100%;
  --content-top-padding: 355px;

  --field-height: 58px;
};
